.product-item {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .product-image {
    width: 100px; /* ou toute autre taille souhaitée */
    height: 100px; /* ou toute autre taille souhaitée */
    margin-right: 10px;
  }
  
  .product-label {
    flex: 1;
  }
  